.login-container input::placeholder {
  color: #71767b !important;
  opacity: 1 !important;
}

.login-container input::-webkit-input-placeholder {
  color: #71767b !important;
  opacity: 1 !important;
}

.login-container input::-moz-placeholder {
  color: #71767b !important;
  opacity: 1 !important;
}

.login-container input:-ms-input-placeholder {
  color: #71767b !important;
  opacity: 1 !important;
}

.login-container .ant-input-password input::placeholder {
  color: #71767b !important;
  opacity: 1 !important;
}

.login-container .ant-input-password input::-webkit-input-placeholder {
  color: #71767b !important;
  opacity: 1 !important;
}

.login-container .ant-input-password input::-moz-placeholder {
  color: #71767b !important;
  opacity: 1 !important;
}

.login-container .ant-input-password input:-ms-input-placeholder {
  color: #71767b !important;
  opacity: 1 !important;
}
